{% extends 'SundialBundle::base.html.twig' %}

{% block stylesheets %}
    <style>
        .error-code{
            color: red;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a <span class="error-code">"{{ status_code }} {{ status_text }}"</span> .</h2>
    </div>
    <div>
        Something is broken. Please let us know what you were doing when this error occurred.
        We will fix it as soon as possible. Sorry for any inconvenience caused.
    </div>
{% endblock %}
