<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Sundial{% endblock %}</title>

        {#Load critical application-wide JS and CSS. Anything related to widgets and non-layout focused components should to at the bottom of the page#}
        <script src="{{ asset('/js/jquery.min.js') }}"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('/css/global.css') }}" />

        {# Container for additional critical JS and CSS loaded in templates extending this one #}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <div class="container">
            {% if app.user %}
                <header id="site-header" class="row">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/">
                                    <img src="{{ asset('/img/sundial-logo.jpg') }}" class="header-img">
                                </a>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    {#<li class="dropdown dropdown-notifications">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <label for="browser-check">Browser</label>
                                                <input type="checkbox" checked data-toggle="toggle" data-size="mini" name="browser-check">
                                            </li>
                                            <li>
                                                <label for="browser-check">SMS</label>
                                                <input type="checkbox" checked data-toggle="toggle" data-size="mini" name="sms-check">
                                            </li>
                                            <li>
                                                <label for="browser-check">Email</label>
                                                <input type="checkbox" checked data-toggle="toggle" data-size="mini" name="email-check">
                                            </li>
                                        </ul>
                                    </li>#}
                                    <li class="dropdown dropdown-settings">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('toggl_settings') }}">Toggl Tag Settings</a></li>
                                            {% if is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_PM') or is_granted('ROLE_PM_ADMIN_MGRS') %}
                                                <li><a href="{{ path('reports_dashboard') }}">Reports</a></li>
                                            {% endif %}
                                            <li><a href="{{ path('logout') }}">Logout</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div><!-- /.navbar-collapse -->
                            {% block navbarUtility %}{% endblock %}

                        </div><!-- /.container-fluid -->
                    </nav>
                    {#<nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="/">
                                    <img src="{{ asset('img/sundial-logo-red.png') }}" class="header-img" style="height:50px">
                                </a>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <div class="face">
                                    #}{#<?= img('faces/'.User::id().'.jpg') ?>#}{#
                                    <img src="{{ asset('/img/faces/'~app.user.id~'.jpg') }}" >
                                </div>
                                <ul class="nav navbar-nav navbar-right">
                                    #}{#<? if($this->uri->segment(1) == 'timeimport' && $this->uri->segment(2) == 'toggl'): ?>#}{#
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/timeimport/toggl/togglsettings">Toggl Tag Settings</a></li>
                                        </ul>
                                    </li>
                                        #}{#<? endif; ?>
                                        <? if($this->uri->segment(1) == 'reports' && $this->uri->segment(2) == 'financials' && isset($ReportID)): ?>#}{#
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/reports/financials/edit/<?= $ReportID ?>">Edit this report</a></li>
                                        </ul>
                                        #}{#<? endif; ?>#}{#
                                    </li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>#}
                </header>
            {% endif %}
            {% include 'SundialBundle::fashbag.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        <footer id="site-footer">
            <div class="container">
                <img src="/img/bfr-logo.png">
            </div>
        </footer>


    </body>
</html>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ asset('/js/warningdialog.js') }}"></script>
<script src="{{ asset('/js/bootbox.min.js') }}"></script>
<script src="//gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% block noncritical_javascripts %}{% endblock %}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('/css/font-awesome.min.css') }}" />
{% block noncritical_stylesheets %}{% endblock %}
