{% for flash_message in app.session.flashbag.get('success') %}
    <div class="alert alert-success flash_message_container" role="alert">
        <i class="fa fa-check-circle-o icon fa-2x" aria-hidden="true"></i>
        <span class="message">{{ flash_message|raw }}</span>
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger flash_message_container" role="alert">
        <i class="fa fa-times icon fa-2x" aria-hidden="true"></i>
        <span class="message">{{ flash_message|raw }}</span>
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('info') %}
    <div class="alert alert-info flash_message_container" role="alert">
        <i class="fa fa-info-circle icon fa-2x" aria-hidden="true"></i>
        <span class="message">{{ flash_message|raw }}</span>
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('warn') %}
    <div class="alert alert-warning flash_message_container" role="alert">
        <i class="fa fa-exclamation-triangle icon fa-2x" aria-hidden="true"></i>
        <span class="message">{{ flash_message|raw }}</span>
    </div>
{% endfor %}
{#
<div class="alert alert-success flash_message_container" role="alert">
    <i class="fa fa-check-circle-o icon fa-2x" aria-hidden="true"></i>
    <span class="message">Success Message</span>
</div>
<div class="alert alert-danger flash_message_container" role="alert">
    <i class="fa fa-times icon fa-2x" aria-hidden="true"></i>
    <span class="message">Error Message</span>
</div>
<div class="alert alert-info flash_message_container" role="alert">
    <i class="fa fa-info-circle icon fa-2x" aria-hidden="true"></i>
    <span class="message">Info Message</span>
</div>
<div class="alert alert-warning flash_message_container" role="alert">
    <i class="fa fa-exclamation-triangle icon fa-2x" aria-hidden="true"></i>
    <span class="message">Warning Message</span>
</div>#}
