{% extends 'SundialBundle::base.html.twig' %}
{% block title %}Sundial Login{% endblock %}

{% block body %}
    <div class="row login-form">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6 login img-rounded">

            <div class='login-wrapper img-rounded'>
                <h2 class="text-center">
                    <img src="{{ asset('/img/sundial-logo.jpg') }}" class="logo" >
                </h2>
                <form class="form" action="{{ path('login') }}" role="form" method="POST">
                    <div class="form-group">
                        <label class="sr-only" for="oa-email">OpenAir Username</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input type="text" name="_username" class="form-control" id="user" value="{{ last_username }}" placeholder="OpenAir Username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">OpenAir Password</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input class="form-control" type="password" id="password" name="_password" value="" placeholder="OpenAir Password" >
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="width:100%">Sign in</button>
                </form>
            </div>
        </div>
        <div class="col-md-3">&nbsp;</div>
    </div>
{% endblock %}