{% extends 'SundialBundle::base.html.twig' %}
{% block title %}Add a Reports :: Sundial{% endblock %}

{% block body %}
    {{ form(form) }}
    <script>
        $(function(){
            console.log($('#financial_report_type_customer'));
            $('#financial_report_type_customer').on('change', function(){
                var url = '/rest/projects/'+$(this).val();
                $.get(url, function(result){
                    var projectEl = $('#financial_report_type_project');
                    projectEl.empty();
                    $.each(result, function(idx, val){
                        projectEl.append($('<option/>', {
                            value: val.id,
                            text : val.name
                        }));
                    })
                });
            })
        });
    </script>
{% endblock %}