{% extends 'SundialBundle::base.html.twig' %}
{% block title %}Report Budgets :: Sundial{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>
            Budget information for {{ report.name }}
            <small>{{ report.project.customer.name }} :: {{ report.project.name }}</small>
        </h1>
    </div>
    {% include 'SundialBundle:reports/inc:budgets_form.html.twig' %}
{% endblock %}