{% extends 'SundialBundle::base.html.twig' %}
{% block title %}Reports Dashboard :: Sundial{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Reporting Tool <small>Active Reports</small></h1>
    </div>

    <table class="table table-condensed table-hover">
        <tr>
            <th>Name</th>
            <th>Project</th>
            <th>Last Run</th>
            <th>Actions</th>
        </tr>
        {% if reports|length > 0 %}
            {% for report in reports %}
                <tr>
                    <td>
                        <a href="{{ path('financial_report_details', {'id':report.id}) }}">{{ report.name }}</a>
                    </td>
                    <td>{{ report.project }}</td>
                    <td id="last_run_{{ report.id }}">
                        {% if report.lastRun is not null%}
                            {{ report.lastRun.format('Y-m-d H:i:s') }}
                        {% else %}
                            not yet run
                        {% endif %}
                    </td>
                    <td>
                        <a href="#" class="btn btn-xs btn-success run-report" data-id="{{ report.id }}" title="Run Now">
                            <i class="fa fa-play-circle fa-2x" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" class="text-center"> There are no reports here </td>
            </tr>
        {% endif %}
    </table>
    <a href="{{ path('add_report') }}" class="btn btn-primary btn-block">Add a Report</a>
    <script>
        $(function(){
            $('.run-report').on('click', function(e){
                e.preventDefault();
                console.log($(this).data('id'))
                waitingDialog.show('Please wait while the report executes...');
                var id = $(this).data('id');
                $.ajax({
                    url:'/rest/report/run/'+id,
                    statusCode:{
                        200: function(result, code, xhr){
                            // successful
                            bootbox.alert("Your report has been run successfully.", function(){
                                $('#last_run_'+id).text(result);
                            });
                        },
                        500: function(a,b,c){
                            bootbox.alert("There was an error running your report.", function(){});
                        },
                        403: function(){
                            bootbox.alert("You are not authorized to run this report.", function(){});
                        }
                    }
                }).always(function(){
                    waitingDialog.hide();
                });
            })
        });
    </script>
{% endblock %}