{% extends 'SundialBundle::base.html.twig' %}
{% block title %}{{ report.report.project.customer }} Report :: Sundial{% endblock %}

{% block stylesheets %}
    <script src="{{ asset('/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('/js/dataTables.bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('/css/dataTables.bootstrap.min.css') }}" />
    <style>
        table.rawData{
            width:100% !important;
        }
    </style>
{% endblock %}

{% block body %}
    {#{{ dump(report.budgetVsActuals) }}#}
    {#{{ dump(report) }}#}
    <div class="page-header">
        <h1>
            {{ report.report.name }}
            <small>{{ report.report.project.customer }} :: {{ report.report.project }}</small>
            <span class="pull-right">
                Last Run:
                {% if report.report.lastRun is not null %}
                    {{ report.report.lastRun.format('Y-m-d H:i:s') }}
                {% else %}
                    Not Yet
                {% endif %}
            </span>
        </h1>
    </div>

    <div class="page-header">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Dashboard</a></li>
            <li role="presentation"><a href="#projections" aria-controls="projections" role="tab" data-toggle="tab">Projections</a></li>
            <li role="presentation"><a href="#rawdata" aria-controls="rawdata" role="tab" data-toggle="tab">Raw Data</a></li>
            <li role="presentation"><a href="#budgets" aria-controls="budgets" role="tab" data-toggle="tab">Budgets</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            {% include 'SundialBundle:reports/tabs:home.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="rawdata">
            {% include 'SundialBundle:reports/tabs:rawdata.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="projections">
            {% include 'SundialBundle:reports/tabs:projections.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">
            {% include 'SundialBundle:reports/tabs:settings.html.twig' %}
        </div>
        <div role="budgets" class="tab-pane" id="budgets">
            {% include 'SundialBundle:reports/tabs:budgets.html.twig' %}
        </div>
    </div>


    <script>
        $(function(){
            $('table.rawData').DataTable({
                iDisplayLength: 50,
                columnDefs: [
                    { width: 200, targets: 0 }
                ],
                fixedColumns: true
            });

            $('.run-report').on('click', function(e){
                e.preventDefault();
                console.log($(this).data('id'))
                waitingDialog.show('Please wait while the report executes...');
                $.ajax({
                    url:'/rest/report/run/{{ report.report.id }}',
                    statusCode:{
                        200: function(result, code, xhr){
                            // successful
                            bootbox.alert("Your report has been run successfully.", function(){
                                location.reload();
                            });
                        },
                        500: function(a,b,c){
                            bootbox.alert("There was an error running your report.", function(){});
                        },
                        403: function(){
                            bootbox.alert("You are not authorized to run this report.", function(){});
                        }
                    }
                }).always(function(){
                    waitingDialog.hide();
                });
            })
        });
    </script>
{% endblock %}