{{ form_start(form) }}
<table class="table table-condensed table-hover">
    {% for key,group in form.children %}
        {% if key matches '/^\\d+$/' %}
            <tr>
                <th colspan="2">{{ form_label(group) }}</th>
            </tr>
            {% for row in group.children  %}
                <tr>
                    <td>{{ form_row(row.hours) }}</td>
                    <td>{{ form_row(row.dollars) }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
</table>
{{ form_end(form) }}