{#{{ dump(form.timeToImport.children) }}#}
<div id="toggl-data">
    <div class="container">
        {{ form_start(form) }}
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th class="th-status">Time Type</th>
                    <th class="th-client">Client</th>
                    <th class="th-task">Task</th>
                    <th class="th-time">Time</th>
                    <th class="th-description">Description</th>
                    <th class="th-mapped">Remember<span class="glyphicon glyphicon-question-sign" title="Slide to remember/forget mappings of Toggl Client :: Project to OA Client/Project :: Task" rel="tooltip"></span></th>
                </tr>
                </thead>
                <tbody>
                    {% for entry in form.timeToImport.children %}
                        <tr>
                            <td class="col-timetype">
                                {{ form_widget(entry.timetype) }}
                                {{ form_widget(entry.togglId) }}
                                {{ form_widget(entry.togglTime) }}
                                {{ form_widget(entry.togglProjectId) }}
                            </td>
                            <td class="col-client">{{ form_widget(entry.project) }}</td>
                            <td class="col-task">{{ form_widget(entry.task) }}</td>
                            <td class="col-time">
                                {{ entry.time.vars.data }}
                                <input type="hidden" name="{{ entry.time.vars.full_name }}" id="{{ entry.time.vars.id }}" value="{{ entry.time.vars.data }}">
                            </td>
                            <td class="col-description">{{ form_widget(entry.description) }}</td>
                            <td class="col-mapped">
                                {% if entry.children.togglProjectId.vars.value == '' %}
                                    {{ form_widget(entry.mapped, {'attr':{'disabled':'disabled'}}) }}
                                    <span class="glyphicon glyphicon-question-sign" title="Not mapped in toggl" rel="tooltip"></span>
                                {% else %}
                                    {{ form_widget(entry.mapped) }}
                                    <span class="glyphicon glyphicon-question-sign" title="{{ entry.children.togglProjectName.vars.value }}" rel="tooltip"></span>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ form_widget(form.submit) }}
            {{ form_widget(form._token) }}
        {{ form_end(form, {'render_rest':false}) }}
    </div>
</div>
<script>
    $(function() {
        $("input[id$='_mapped']").bootstrapToggle({
            on: 'Yes',
            off: 'No',
            size: 'mini',
            onstyle: 'success'
        });
        $("span[rel=tooltip]").tooltip({
            placement: 'right'
        })
    })
</script>