<div class="panel panel-primary">
    <div class="panel-heading">
        Budgets
    </div>
    <div class="panel-body">
        {% set form = report.budgetForm %}
        {% include 'SundialBundle:reports/inc:budgets_form.html.twig' %}
    </div>
</div>