<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Billable Status
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tr>
                        <th>Time Type</th>
                        <th>Total</th>
                        <th>Percent</th>
                    </tr>
                    {% for row in report.timeBreakdown.breakdown %}
                        <tr>
                            <td>{{ row.type }}</td>
                            <td>{{ row.hours_sum }}</td>
                            <td>{{ ((row.hours_sum / report.timeBreakdown.total) * 100)|round(2) }} %</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="panel-footer">
                Total:
                <span class="pull-right">
                    {{ report.timeBreakdown.total }} hrs
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Billable Percentage
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tr>
                        <th>Time Type</th>
                        <th>Time</th>
                        <th>Percentage</th>
                    </tr>
                    <tr>
                        <td>Billable</td>
                        <td>
                            {% if report.billableVsNonbill.billable is not null %}
                                {{ report.billableVsNonbill.billable }}
                            {% else %}
                                0.00
                            {% endif %}
                        </td>
                        <td>{{ ((report.billableVsNonbill.billable/report.billableVsNonbill.total)*100)|number_format(2, '.', ',') }}%</td>
                    </tr>
                    <tr>
                        <td>Non Billable</td>
                        <td>{{ report.billableVsNonbill.nonbillable }}</td>
                        <td>{{ ((report.billableVsNonbill.nonbillable/report.billableVsNonbill.total)*100)|number_format(2, '.', ',') }}%</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>{{ report.billableVsNonbill.total }}</td>
                        <td>{{ ((report.billableVsNonbill.total/report.billableVsNonbill.total)*100)|number_format(2, '.', ',') }}%</td>
                    </tr>
                </table>
            </div>
            {#<div class="panel-footer">
                Total:
                <span class="pull-right">
                    {{ sum }} hrs
                </span>
            </div>#}
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        Time By Task This Month
    </div>
    <div class="panel-body">
        <table class="table table-condensed time-by-task-for-month">
            <thead>
            <tr>
                <th>Task</th>
                {% for type in report.timetypes %}
                    <th>{{ type.type }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% if report.tasksForMonth|length > 0 %}
                {% set sum = 0 %}
                {% for row in report.tasksForMonth %}
                    <tr>
                        <td>{{ row.name }}</td>
                        {% for type in report.timetypes %}
                            <td>
                                {% if row.times[type.id] is defined %}
                                    {{ row.times[type.id] }}
                                {% else %}
                                    0.00
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {#{% set sum = sum + row.hours_sum %}#}
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">There are no time records this month</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        Time By Task
    </div>
    <div class="panel-body">
        <table class="table table-condensed time-by-task">
            <thead>
            <tr>
                <th>Task</th>
                {% for type in report.timetypes %}
                    <th>{{ type.type }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% set sum = 0 %}
            {% for row in report.dataByTask %}
                <tr>
                    <td>{{ row.name }}</td>
                    {% for type in report.timetypes %}
                        <td>
                            {% if row.times[type.id] is defined %}
                                {{ row.times[type.id] }}
                            {% else %}
                                0.00
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {#{% set sum = sum + row.hours_sum %}#}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        Time By User
    </div>
    <div class="panel-body">
        <table class="table table-condensed time-by-task">
            <thead>
            <tr>
                <th>User</th>
                {% for type in report.timetypes %}
                    <th>{{ type.type }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% set sum = 0 %}
            {% for row in report.dataByUser %}
                <tr>
                    <td>{{ row.name }}</td>
                    {% for type in report.timetypes %}
                        <td>
                            {% if row.times[type.id] is defined %}
                                {{ row.times[type.id] }}
                            {% else %}
                                0.00
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {#{% set sum = sum + row.hours_sum %}#}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>