<div class="panel panel-primary">
    <div class="panel-heading">
        Budget Vs Actual
    </div>
    <div class="panel-body">

        {% if report.ratesExist == false %}
            <p>Cost information is not shown because there is no rate information entered in Open Air.</p>
        {% endif %}
        <table class="table table-condensed">
            <tr>
                <th>Task</th>
                <th class="success">Budgeted Hours</th>
                {% if report.ratesExist %}
                    <th class="success">Budgeted Cost</th>
                {% endif %}
                <th class="info">Hours Spent</th>
                {% if report.ratesExist %}
                    <th class="info">Cost Spent</th>
                {% endif %}
                <th class="warning">Hours Remaining</th>
                {% if report.ratesExist %}
                    <th class="warning">Cost Remaining</th>
                {% endif %}
            </tr>
            {% for budget in report.budgetVsActuals %}
                {% set hours_remaining = (budget.budget.hours - budget.total_hours_worked) %}
                {% set cost_remaining = (budget.budget.dollars - budget.cost) %}
                <tr class="{% if hours_remaining < 0 or cost_remaining < 0 %}danger{% endif %}">
                    <td>
                        {{ budget.budget.task.name }}
                        {% if budget.budget.task.parent is not null %}
                            ({{ budget.budget.task.parent.name }})
                        {% endif %}
                    </td>
                    <td class="success">{{ budget.budget.hours }}</td>
                    {% if report.ratesExist %}
                        <td class="success">${{ budget.budget.dollars }}</td>
                    {% endif %}
                    <td class="info">
                        {% if budget.total_hours_worked is not null %}
                            {{ budget.total_hours_worked }}
                        {% else %}
                            0.00
                        {% endif %}
                    </td>
                    {% if report.ratesExist %}
                        <td class="info">
                            ${{ budget.cost }}
                        </td>
                    {% endif %}
                    <td class="warning">{{ hours_remaining|number_format(2, '.', ',') }}</td>
                    {% if report.ratesExist %}
                        <td class="warning">
                            ${{ cost_remaining|number_format(2, '.', ',') }}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>