<div class="panel panel-primary">
    <div class="panel-heading">
        Budget Vs Actual
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover rawData {#table table-condensed#}">
            <thead>
            <tr>
                <th>Time Type</th>
                <th>Person</th>
                <th>Task</th>
                <th>Description</th>
                <th>Hours</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for row in report.rawData %}
                <tr>
                    <td>{{ row.timeType.type }}</td>
                    <td>{{ row.user}}</td>
                    <td>{{ row.projectTask }}</td>
                    <td>{{ row.description }}</td>
                    <td>{{ row.decimalHours }}</td>
                    <td>{{ row.date.format('Y-m-d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#<div class="panel-footer">
        Total:
        <span class="pull-right">
            {{ sum }} hrs
        </span>
    </div>#}
</div>

