<p>
    <button class="btn btn-success btn-lg btn-block run-report">Run Report Now</button>
</p>
{{ form_start(report.reportForm) }}
<div class="panel panel-primary">
    <div class="panel-heading">
        Budgets
    </div>
    <div class="panel-body">
        {{ form_row(report.reportForm.name) }}
        {{ form_row(report.reportForm.budgetHigh) }}
        {{ form_row(report.reportForm.budgetLow) }}
        {{ form_row(report.reportForm.averageRate) }}
        {{ form_row(report.reportForm.hoursToFinish) }}
    </div>
    <div class="panel-footer">
        {{ form_row(report.reportForm.create, {'label' : 'Update'}) }}
    </div>
</div>
{{ form_end(report.reportForm) }}