{% extends 'SundialBundle::base.html.twig' %}

{# CSS and JS that must appear in the head, don't use unless you really must  #}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

{# CSS and JS that will load at the bottom of the page (see block in base.html.twig #}
{% block noncritical_javascripts %}
    <script src="{{ asset('/js/handlebars.js') }}"></script>
    <script src="{{ asset('/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('/js/timesheet-v2.js') }}"></script>
    <script>
      $(function(){
        Timesheet.init({% if submitted %}false{% else %}true{% endif %});
      });
    </script>
{% endblock %}
{% block noncritical_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/bootstrap-select.min.css') }}">
{% endblock %}


{% form_theme form _self %}

{% block title %}Timesheet for {{ day.format('l, F jS') }} :: Sundial{% endblock %}

{% block _form_new_entry_row %}
    <tr data-id="{{ form.project.vars.value }}:{{ form.task.vars.value }}">
        <td>
            {{ form_row(form.timetype, {'label':false}) }}
            {{ form_row(form.id) }}
        </td>
        <td>
            {{ form_row(form.project, {'label':false}) }}
        </td>
        <td>
            {{ form_row(form.task, {'label':false}) }}
        </td>
        <td>
            {{ form_row(form.time, {'label':false}) }}
        </td>
        <td>
            {{ form_row(form.description, {'label':false}) }}
        </td>
        <td>
            <span class="glyphicon glyphicon-trash delete-time-entry" aria-hidden="true"></span>
        </td>
    </tr>
{% endblock %}



{% block bodyclass %}home{% endblock %}

{% block body %}
    {% if timesheet.Timesheet is not null %}
        <section id="clickable-days-nav">
            <div id="week-progress">
                <div class="progress week-stacked">
                    {% for day in ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'] %}
                        <div class="nav-item{% if app.request.get('day')|date('D') == day %} active{% endif %}{% if timesheet.Tasks.daybreakdown[day].percentOfDay >= 100 %} complete{% endif %}{% if timesheet.Tasks.daybreakdown[day].submitted %} submitted{% endif %}">
                            <a class="jumpToDay" href="{{ path('timesheet', {'day':timesheet.Tasks.daybreakdown[day].date}) }}">
                                <span class="progress-bar {% if timesheet.Tasks.daybreakdown[day].total == 0 %}progress-bar-notime{% endif %} {% if timesheet.Tasks.daybreakdown[day].percentOfDay >= 100 %}progress-bar-success{% endif %}" style="width: {{ timesheet.Tasks.daybreakdown[day].percentOfDay }}%"></span>
                            <span class="day-count">
                                {{ day }} ({{ timesheet.Tasks.daybreakdown[day].total }}hr)
                                {% if timesheet.Tasks.daybreakdown[day].submitted %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {% endif %}
                            </span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <div class="date-wrapper">
        <div class="container">
            <h1 class="section-header">
                <i>{{ day.format('l, F jS') }}</i>
            </h1>

            <div class="date-switcher">
                <label for="date"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Switch Date</label>
                <input type="text" name="date" value="{{ day.format('m/d/Y') }}" class="date">
            </div>
        </div>
    </div>

    <section id="open-air-data" class="{% if submitted %}already-submitted{% else %}not-submitted{% endif %}">
        <div class="container">
            <div class="importTarget"></div>
            {% set intTimeForDay = 0.00 %}
            {% if timesheet.Timesheet is not null %}

                {{ form_start(form, {'attr':{'id':'timegrid'}}) }}
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Time Type</th>
                                <th>Client</th>
                                <th>Task</th>
                                <th>Time</th>
                                <th>Description</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key,sections in form.children %}
                                {% if ':' in key %}
                                    <tr class="client-row">
                                        <td colspan="6" class="client">
                                            {{ form_label(sections)  }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% for timeEntry in sections.children %}
                                    <tr class="time-entries-row" data-id="{{ timeEntry.project.vars.value }}:{{ timeEntry.task.vars.value }}">
                                        <td>
                                            {{ form_row(timeEntry.timetype, {'label':false}) }}
                                            {{ form_row(timeEntry.id) }}
                                        </td>
                                        <td>
                                            {{ form_row(timeEntry.project, {'label':false}) }}
                                        </td>
                                        <td>
                                            {{ form_row(timeEntry.task, {'label':false}) }}
                                        </td>
                                        <td>
                                            {{ form_row(timeEntry.time, {'label':false}) }}
                                            {% set intTimeForDay = intTimeForDay + timeEntry.time.vars.value %}
                                        </td>
                                        <td>
                                            {{ form_row(timeEntry.description, {'label':false}) }}
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-trash delete-time-entry" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            <tr>
                                <td colspan="6" class="client">
                                    <span class="pendingText" style="display: none;">Pending Save</span>
                                    {{ form_widget(form.new) }}
                                </td>
                            </tr>
                            <tr class="newTarget"></tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Total:</td>
                                <td>
                                    <div class="form-group">
                                        <span id="totalTimeForDay">
                                            {{ intTimeForDay }}
                                        </span>
                                    </div>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    {{ form_row(form.saveChanges) }}
                    {{ form_widget(form.newRow) }}
                {{ form_end(form, {'render_rest':false}) }}
            {% else %}
                <p>You don't have an open timesheet for this week.</p>
                {% if timesheet.OtherTimesheets.submitted|length > 0 %}
                    <p>
                        <i class="glyphicon glyphicon-ok fa-2x" aria-hidden="true"></i>
                        You have <b>{{ timesheet.OtherTimesheets.submitted|length }} submitted</b> timesheet{% if timesheet.OtherTimesheets.submitted|length > 1 %}s{% endif %} for this week already.
                    </p>
                {% endif %}
                {% if timesheet.OtherTimesheets.approved|length > 0 %}
                    <p>
                        <i class="glyphicon glyphicon-ok fa-2x" aria-hidden="true"></i>
                        You have <b>{{ timesheet.OtherTimesheets.approved|length }} approved</b> timesheet{% if timesheet.OtherTimesheets.approved|length > 1 %}s{% endif %} for this week already.
                    </p>
                {% endif %}
                <div id="create-timesheet">
                    {{ form_start(createTimesheetForm) }}
                        Create a new timesheet with a default timetype of
                        {{ form_row(createTimesheetForm.timeType) }}
                        {{ form_row(createTimesheetForm.submit) }}
                    {{ form_end(createTimesheetForm) }}
                </div>
            {% endif %}
        </div>
    </section>

    {% if timesheet.Timesheet is not null %}
        <section class="submit-timesheet-section">
            <div class="row">
                <div class="col-md-6">
                    {% if hideGraphs == false %}
                        <h3>You have worked{% if timesheet.OtherTimesheets.submitted|length > 0 or  timesheet.OtherTimesheets.approved|length > 0 %} (including submitted time){% endif %}:</h3>
                        <p><strong>{{ timesheet.Timesheet.total }}hr</strong> (<strong>{{ ((timesheet.Timesheet.total/40)*100)|round }}%</strong>) of your 40 hour week</p>
                        {% if timesheet.BookedHours.bookedHours > 0 %}
                            <p>
                                <strong>{{ timesheet.BookedHours.bookedHoursWorked }}hr</strong>
                                (<strong>{{ ((timesheet.BookedHours.bookedHoursWorked/timesheet.BookedHours.bookedHours)*100)|round(2) }}%</strong>)
                                of your {{ timesheet.BookedHours.bookedHours }} booked hours
                            </p>
                        {% else %}
                            <p>You have no staffing this week.</p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <a class="btn btn-info submitTimesheet" href="{{ path('timesheet_submit', {'timesheetId':timesheet.Timesheet.id}) }}"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>Submit Timesheet for Approval</a>
                    {% if timesheet.URL %}
                        <a href="{{ timesheet.URL }}" class="weekViewRedirect" target="_blank">View Week in Open Air</a>
                    {% endif %}
                </div>
            </div>
        </section>

        <hr>
        {% if hideGraphs == false %}
            <section class="timesheet-summary-section">
                <h1 class="section-heading">Time Worked Per Client :: Project</h1>
                <hr>
                {% for client, bookingData in timesheet.BookedHours.projectbreakdown %}
                    {% if client != 'total' %}
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <strong>
                                        {{ client }}
                                        {% if bookingData.work is defined %}
                                            <span class="glyphicon glyphicon-question-sign" title="{{ include('SundialBundle:timesheet:projectinfo.html.twig', {data: bookingData}, with_context = false) }}" rel="tooltip"></span>
                                        {% endif %}
                                    </strong>
                                </p>
                            </div>
                            <div class="col-md-9">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ bookingData.workedPercent }}%;"></div>
                                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" style="width:{{ bookingData.overPercent }}%">
                                        {% if bookingData.overText is defined %}
                                            {{ bookingData.overText }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <p>{{ bookingData.used }} of {{ bookingData.booked }}hr</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </section>

            {% if timesheet.Timesheet.total > 0 %}
                <hr>
                <section class="totals">
                    <h1 class="section-heading">Utilization</h1>
                    <hr>

                    <div id="billable-non">
                        <h2>Billable vs. Non-Billable Percentage</h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-default progress-bar-striped" style="width: {{ (timesheet.Tasks.totalBillable/timesheet.Timesheet.total)*100 }}%">
                                {{ ((timesheet.Tasks.totalBillable/timesheet.Timesheet.total)*100)|round(1) }} %
                            </div>
                            <div class="progress-bar progress-bar-notime progress-bar-striped" style="width: {{ (timesheet.Tasks.totalNonBillable/timesheet.Timesheet.total)*100 }}%">
                                {{ ((timesheet.Tasks.totalNonBillable/timesheet.Timesheet.total)*100)|round(1) }} %
                            </div>

                        </div>
                    </div>
                </section>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block navbarUtility %}
    <section id="import-options">
        <h1>Import from</h1>
        <button class="btn btn-success" id="importFromTogglBtn">Toggl</button>
        <a href="{{ path('timesheet_clear_cache') }}" class="btn btn-success clearCache">OpenAir</a>
    </section>
{% endblock %}
