{% extends 'SundialBundle::base.html.twig' %}

{% block title %}Multiple Timesheets :: Sundial{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Multiple Conflicting Timesheet</h1>
    </div>

    <p>
        It appears you have multiple open timesheets.  Please select the timesheet that you would like to use with Sundial.
    </p>

    {#<div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        It appears you have multiple open timesheet.  Use this screen to select which timesheet you would like to interact with in sundial.
    </div>#}

    {{ form(form) }}
{% endblock %}