{% spaceless %}
    {# DO NOT USE DOUBLE QUOTES IN THIS FILE ANYWYERE #}
    <dl>
        {% for date,work in data.work %}
            <dt>{{ date|date('D') }}</dt>
            {% for workDetail in work %}
                <dd><span class='glyphicon glyphicon-thumbs-up'></span>{{ workDetail.desc }} ({{ workDetail.time }})</dd>
            {% endfor %}
        {% endfor %}
    </dl>
{% endspaceless %}