{% extends 'SundialBundle::base.html.twig' %}

{% block title %}Timesheet Submit Issue :: Sundial{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Timesheet Submission Warning</h1>
    </div>

    <p>
        Submitting your timesheet has generated an open air warning.
    </p>

    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        {{ warning }}
    </div>

    {{ form_start(form) }}
        {{ form_row(form.ack) }}
    {{ form_end(form) }}
{% endblock %}