{% extends 'SundialBundle::base.html.twig' %}

{% block title %}Toggl Authentication :: Sundial{% endblock %}

{% block body %}
    <p>It appears you currently haven't authenticated with Toggl yet.  This only has to happen one time, and once compelete, we won't ask for your password again.</p>
    <p>Please enter your toggl user information below.  This will not be stored on this server.</p>
    <div class="row login-form">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6 ">
            <div class='login-wrapper img-rounded'>
                {{ form(form) }}
            </div>
        </div>
        <div class="col-md-3">&nbsp;</div>
    </div>
{% endblock %}