{% extends 'SundialBundle::base.html.twig' %}
{% form_theme form _self %}

{% block title %}Toggl Settings :: Sundial{% endblock %}

{% block _form_existing_entry_row %}
    <tr>
        <td>
            {{ form.togglClient.vars.value }}
            {{ form_widget(form.id) }}
            {{ form_widget(form.togglProjectId) }}
        </td>
        <td>
            {{ form.togglProject.vars.value }}
        </td>
        <td>
            {{ form_widget(form.timetype) }}
        </td>
        <td>
            {{ form_widget(form.project) }}
        </td>
        <td>
            {{ form_widget(form.task) }}
        </td>
    </tr>
{% endblock %}

{% block _form_new_entry_row %}
    {{ block('_form_existing_entry_row') }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Toggl Settings</h1>
    </div>
    <p><a href="{{ path('timesheet') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back to Timesheet</a></p>
    {{ form_start(form) }}
    <table class="table table-hover table-condensed">
        <tr>
            <th>Client</th>
            <th>Project</th>
            <th>Billable Status</th>
            <th>Client : Project</th>
            <th>Task</th>
        </tr>
        {{ form_widget(form.existing) }}
    </table>

    <table class="table table-hover table-condensed">
        <tr>
            <th>Client</th>
            <th>Project</th>
            <th>Billable Status</th>
            <th>Client : Project</th>
            <th>Task</th>
        </tr>
        {{ form_widget(form.new) }}
    </table>
    {{ form_widget(form._token) }}
    {{ form_row(form.submit) }}
    {{ form_end(form, {'render_rest':false}) }}

    <script>
        $(function(){
            $(document).on('change', "select[id$='_project']", function(){
                var selectionVal = $(this).val();
                var url = '/rest/tasks/'+selectionVal;
                var el = this;
                $.ajax({
                    url: url,
                    success: function(data){
                        var selector = $(el).closest('td').next().find('select');
                        selector.empty();
                        for(key in data){
                            var text = '';
                            if(!data[key].task.is_phase){
                                text = data[key].task.id_number+'. '+data[key].task.name;
                                var objParent = data[key].task.parent;
                                if(objParent){
                                    text += text+' ['+objParent.name+']';
                                }
                            }
                            selector.append($('<option />', {value:data[key].task.id, text:text}))
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
