.section-header {
  position: relative;
  color: $secondary-brand-color;
  padding: 0;
  margin: 0 0 15px 0;
  height: auto;
  line-height: 1.8;
  font-family: 'Satisfy', arial, sans-serif;
  i {
    font-weight: 200;
    font-style: normal;
    font-size: 1.4em;
  }
  input {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 10px;
    height: 40px;
    color: #444;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    cursor: pointer;
  }
}

.date-wrapper {
  .section-header {
    float: left;
  }
  .container {
    padding-bottom: 0;
  }
}

.date-header {
  text-align: center;
  background: transparent;
  color: #fff;
  margin: 0 -15px 12px -15px;
  padding: 6px 0;
  border-top: 1px solid #fff;
}

.date-switcher {
  float: right;
  color: #888;
  border-color: #d6e9c6;
  padding: 4px 0 4px 8px;
  label {
    width: 45%;
    float: left;
    padding: 10px 0 0 12px;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: normal;
  }
  input {
    width: 53%;
    padding: 6px 12px;
    margin-left: -10px;
    float: left;
    background-color: #fff;
    color: $secondary-brand-color;
    border: 1px solid $secondary-brand-color;
    border-radius: 4px;
  }
}