.home {
  .page-header {
    .logout {
      float: right;
    }
  }
}

#site-header {
  background: transparent;
  padding-top: 10px;
  padding-bottom: 20px;
  .navbar {
    background: transparent;
    min-height: 0;
    margin-bottom: 0;
    .container-fluid,
    .navbar-collapse {
      padding-right: 0;
    }
    .open {
      a {
        color: #036;
      }
    }
  }
  .face {
    float: right;
    width: 48px;
    margin-left: 12px;
    img {
      max-width: 100%;
      height: auto;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  #bs-example-navbar-collapse-1 { //settings
    float: right;
    padding-left: 12px;
    a {
      padding: 0 18px 0 0;
      background: transparent !important;

    }
    .glyphicon-bell:before{
      font-size: 22px;
      position: relative;
      top: 2px;
    }
    .glyphicon-cog:before {
      font-size: 24px;
    }
  }

  .dropdown-notifications{
    .toggle{
      float: right;
      margin-right: 10px;
    }
  }
  .dropdown-settings{

  }
  .dropdown.open {
    .glyphicon-cog:before,
    .glyphicon-bell:before {
      color: $secondary-brand-color;
    }
    .dropdown-menu {
      padding-left: 8px;
      right: 23px;
      margin-top: 4px;
      border-color: $secondary-brand-color;
    }
  }
}
#import-options {
  float: right;
  color: #888;
  padding: 4px 0 4px 8px;
  margin-bottom: 20px;
  border-radius: 4px;
  @include clearfix;
  h1 {
    float: left;
    margin: 0 8px 0 0;
    padding-top: 3px;
    font-size: 1em;
    text-transform: capitalize;
    font-weight: normal;
  }
  .btn-success {
    float: left;
    margin-right: 4px;
    padding: 0 12px;
    background-color: #fff;
    color: $secondary-brand-color;
    border-color: $secondary-brand-color;
    &:hover {
      background-color: $secondary-brand-color;
      color: #fff;
    }
  }
}