@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Satisfy';

body {
  font-family: "Lato", "Open Sans", Arial, sans-serif;
  color: #444;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  transition: all .15s ease-in;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
  margin-top: 0;
}

h1, .h1 {
  font-size: 1.4em;
}

h2, .h2 {
  font-size: 1.1em;
}

h3, .h3 {
  font-size: 1em;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-size: .8em;
}

.fa {
  vertical-align: middle;
}

.hide-on-load {
  display: none;
}

.button-as-link {
  margin-top: 12px;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  color: #428bca;
  &:hover {
    text-decoration: underline;
  }
}

.modal {
  color: black;
}

.form-group {
  margin-bottom: 0;
}

.section-heading {
  text-align: center;
}

.status-buttons {
  display: none;
  .active {
    background-color: rgba(234, 103, 224, 0.24);
  }
}