.container {
  background: #fff;
  padding-bottom: 48px;
  &.interfaceUI {
    padding-right: 0;
    padding-left: 0;
  }
  #dashboard & {
      padding-bottom: 24px;
  }
  #open-air-data & {
      background: #ececec;
  }
  #toggl-data & {
      background: #fff;
  }
}

