.login {
  .line-thru {
    display: block;
    font-size: .875em;
    margin-bottom: 1em;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    margin-top: 12.250px;
  }

  .row.login-form {
    margin-top: 80px;
  }

  div.row.alerts {
    padding-top: 15px;
  }

  .line-thru:before {
    width: 40px;
    height: 10px;
    background-color: #fff;
    content: '';
    margin: -5px 0 0 -20px;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: -1;
  }

  .line-thru:after {
    border-bottom: 1px solid #dfe0e6;
    content: '';
    display: block;
    position: absolute;
    top: 49%;
    width: 100%;
    z-index: -2;
  }

  img.login {
    width: 300px;
    margin: 0 auto;
    display: block;
  }

  .loading p {
    font-size: 15px;
    font-weight: bold;
  }

  .login-wrapper {
    color: black;
    h2 {
      margin-top: 0;
    }
    background-color: white;
    padding: 15px;
  }
}