.navbar-default .navbar-nav > .dropdown > a, .navbar-default .navbar-nav > .dropdown > a:hover, .navbar-default .navbar-nav > .dropdown > a:focus,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  transition: all 0s ease-in !important;
}

.navbar {
  border-radius: 0;
  border: none;
  .navbar-brand {
    padding: 0 0;
    margin-left: 15px;
  }
}

#clickable-days-nav {
  clear: both;
  .week-stacked {
    height: auto;
    border: 1px solid rgba(0, 0, 0, .1);
    //background: rgba(176, 242, 241, 0.23);
    background: lighten(#ececec, 3%);
    border-radius: 5px;
  }
  .progress-bar {
    display: block;
    height: 3px;
    border: none;
    background: $secondary-brand-color;
    &.progress-bar-notime {
      min-width: 0;
    }
  }
  .nav-item {
    width: 20%;
    float: left;
    position: relative;
    height: 32px;
    border: none;
    overflow: hidden;
    background: transparent;
    outline: 1px solid rgba(0, 0, 0, .1);
    &:first-child {
      border-left: none;
    }
    .progress-bar-success {
      border-right: 1px solid white;
      background: rgba(14, 149, 149, 0.55);
    }
    .progress-bar-notime {
      background: transparent;
    }
    .progress-bar-default {
      background: rgba(14, 149, 149, 0.55);
    }
    .progress-bar-success {
      + .day-count {

      }
    }
    .glyphicon-ok{
      color: $secondary-brand-color;
    }
    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, .1);
      .day-count {

      }
      .progress-bar-success {
      }
      .progress-bar-default {
      }
    }

  }
  .day-count {
    display: block;
    padding-top: 6px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: $secondary-brand-color;
  }
  .jumpToDay {
    display: block;
    height: 100%;
    font-weight: bold;
    max-width: 100% !important;
    color: #000;
    &:hover {
      color: #000;
      text-decoration: none;
    }
    .progress-bar {

    }

  }
  .active{
    background: #c4c4c4;
    .day-count{
      color: #fff;
    }
  }
  .complete{

  }
  .submitted{
    opacity: .5;
  }
}