.progress {
  border-radius: 0;
}

#progress-bars {
  margin-top: 24px;
}

.progress-bar{
  background-color: #0e9595;
}
.progress-bar-danger {
  background-color: $primary-brand-color;
}

.progress-bar-notime {
  background: #ececec;
  color: #444;
  a {
    color: #444 !important;
  }
}

#billable-non {
  padding-top: 2em;
  .progress-bar-success {

  }
  .progress-bar-warning {
    color: #000;
  }
}

.week-stacked {
  .progress-bar {
    border-right: 1px solid #d0d0d0;
    overflow: hidden;
    min-width: 8%;
    a {
      color: #fff;
    }
  }
}