#open-air-data,
#toggl-data {
  padding: 0;
  clear: both;
  margin-top: 2px;
  .container {
    width: auto;
    margin: 0;
    border-radius: 4px;
    padding: 1em;
  }
  .btn-success {
    background-color: $secondary-brand-color;
    border-color: $secondary-brand-color;
    &:hover {
      background-color: #1ab3b3;
      border-color: #0ababa;
    }
  }
}

#create-timesheet {
  .form-group,
  .form-control {
    display: inline;
    width: auto;
  }
}

.submit-timesheet-section {
  margin-top: 2em;
  .btn-info {
    background-color: $primary-brand-color;
    border-color: #e7262d;
    &:hover {
      background-color: #ef1e25;
      border-color: #c7060c;
    }
  }
}

.home {
  .delete-time-entry {
    display: block;
    padding: 8px;
    color: #036;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    &:hover {
      color: #900;
    }
  }
}

.submitTimesheet {
  display: block;
  width: 300px;
  float: right;
  .glyphicon {
    color: #fff;
  }
}
//table rows when importing from Toggl
.th-mapped{
  position: relative;
  .glyphicon-question-sign{
    position: absolute;
    top: 9px;
    right: -10px;
    margin-right: 0;
  }
}
.col-mapped{
  position: relative !important;
  .toggle.btn{//match to select lists
    height: 34px !important;
    width: 52px !important;
    padding: 6px 5px;
  }
  .checkbox{
    margin: 0;
    .toggle-group{
      label{
        padding-top: 6px;
        padding-left: 4px;
        .toggle{
          margin-left: 0;
        }
      }
    }
  }
  .glyphicon-question-sign{
    position: absolute;
    top: 16px;
    right: -10px;
    margin-right: 0;
  }
}

.weekViewRedirect {
  clear: both;
  float: right;
  padding-top: 1em;
  font-weight: 400;
  font-size: 14px;
}

.timesheet-summary-section {
  .tooltip{
    text-align: left;
    dl,
    dd,
    dt{
      text-align: left;
      margin: 0;
      padding: 0;
    }
    dt{
      font-weight: 600;
    }
    dd{
      position: relative;
      font-weight: 400;
      padding-left: 14px;
      color: #fff;
    }
    .glyphicon{
      position: absolute;
      left: 2px;
      top: 4px;
      margin: 0 2px 0 0;
      padding: 0;
      font-size: 10px;
      font-weight: 400;
      color: greenyellow;
    }
  }
}

.btn-accept-records {
  display: block;
  width: 300px;
  padding: .4em;
  margin: 1em auto 3em;
  font-size: 1.2em;
  font-weight: 700;
}

.btn.addRow {
  float: right;
  transition: none;
}

.btn.submitToOa {
  float: right;
  margin-left: 10px;
  transition: none;
}

.btn.submitToOa[disabled] {
  background: rgba(0, 0, 0, .5) !important;
  border-color: #ccc !important;
}

.mark-complete {
  font-weight: normal;
}

.day-complete {
  color: #5cb85c;
}

.day-partial {
  color: #f0ad4e;
}

.day-notime {
  color: #d9534f;
}

#daily-breakdown {
  display: block;
  margin-top: 24px;
  @include clearfix;
  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    float: left;
    margin-right: 1em;
  }
}


#totalTimeForDay {
  font-weight: bold;
  color: #333;
  font-size: 1.5em;
  border: none;
}