#timegrid {
  padding: 0 1em 1em;
  // TODO: remove this entire 'already-submitted' block when editing a submitted timesheet is allowed.
  .already-submitted &{
    .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th{
      background: transparent;
    }
    .table-hover>tbody>tr>td{

    }
    .client-row{
      td{

      }
    }
    .time-entries-row{
      td{
        padding-top: 0;
      }
    }
    .form-control,
    .btn{
      border: none;
      box-shadow: none;
      background: transparent;
      padding: 0;
      height: 20px;
      .bs-caret{
        display: none;
      }
    }
    .submitToOa,
    .addRow,
    .delete-time-entry{
      display: none;
    }
  }
  table {
    border-color: darken(#ececec, 20%);
    border-width: 0;
    border-style: solid;
    color: black;
    margin-bottom: 0;
  }
  th {
  }
  tr {
    background: #ececec;
    td {
      border-top: none;
    }
    &[data-id] {
      .not-submitted &{
        td:nth-of-type(2) {
          background: rgba(6, 97, 118, 0.14);
        }
      }
      .already-submitted &{
        .dropdown-toggle{
          background-color: #eee;
          opacity: 1;
        }
      }
      td:first-child {
        padding-left: 1em;
      }
    }
    &.spacer td {
      padding-top: 1em;
    }
    &.unsaved {
      background: rgba(240, 173, 78, 0.22);
      box-shadow: 0 0 7px rgba(240, 173, 78, 0.49) inset;
      td {
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }
    &.unsaved:hover td {
      background: rgba(255, 255, 255, .3);
    }

  }
  tbody tr:last-of-type td { // target the "timesheet total" row
    padding-top: 1em;
    padding-bottom: 0;
  }
  input[type*=number] {
    font-weight: bold;
    font-size: 1.1em;
    max-width: 140px;
  }
  .client {
    font-size: 1em;
    padding-bottom: .25em;
    font-weight: bold;
    font-style: normal;
    color: #066161;
    .used {
      font-weight: bold;
    }
    .warning {
      color: #e59400;
    }
    .overage {
      color: #d9534f;
    }
    .glyphicon-exclamation-sign {
      color: #d9534f;
    }
  }
  .status-buttons,
  .work-complete-container {
    float: right;
    font-size: 12px;
  }
  .bootstrap-select {
    max-width: 200px;
  }
}
