@import
'_variables',
'_mixins',
'_html',
'_icons',
'_layout',
'_login',
'_date-heading',
'_progress-bars',
'_header',
'_footer',
'_navigation',
'_timegrid',
'_timesheet',
'_settings';

//TODO: move these MQs into the relevant files

@media only screen and (min-width: 720px) {
  .navbar-header {
    margin-left: 15px !important;
  }
}

@media only screen and (max-width: 700px) {
  .btn.addRow,
  .btn.submitToOa,
  .submitTimesheet {
    display: block;
    float: none;
    width: 94%;
    clear: both;
    margin: 0 auto 24px;
  }
  .container {
    padding: 0 5px;
  }
  #open-air-data {
    margin-top: 24px;
    .container {
      padding: 0;
    }
  }
  .section-header {
    height: auto;
    margin: 0 0 15px 0;
    padding-bottom: 50px;
    line-height: 1.2;
    .date {
      width: 100%;
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .buttonbar {
    padding: 0 5px;
    .btn {
      display: block;
      width: 100%;
      margin-bottom: 12px;
    }
  }
  #timegrid {
    padding: 5px;
    thead {
      display: none;
    }
    table,
    tbody,
    tr,
    td {
      display: block;
      width: 100%;
    }
    .delete-time-entry {
      padding-top: 24px;
      padding-bottom: 24px;
    }
    tr {
      border-top: 1px dashed rgba(0, 0, 0, .2);
    }
    tr[data-id] td:first-child {
      padding-left: 5px;
      border-left: none;
    }
    .client {
      font-weight: bold;
      border-bottom: none;
    }
  }
  #billable-non,
  #week-progress {
    float: none;
    width: 100%;
  }
}